<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <menuitem
        id="crm_root"
        name="CRM Haus"
        web_icon="dev_crm_haus,static/description/icon.png"
        sequence="0"
    />

    <menuitem
        id="crm_issues_master"
        name="Issues"
        parent="crm_root"
        action="action_issue_register"
        sequence="1"
    />

    <menuitem
        id="crm_category_master"
        name="Category"
        parent="crm_root"
        action="action_category_register"
        sequence="2"
    />

    <menuitem
        id="crm_questionare_master"
        name="Questionare"
        parent="crm_root"
        action="action_questionare_admin"
        sequence="3"
    />

    <menuitem
        id="crm_questionare_master_user"
        name="Questionare User"
        parent="crm_root"
        action="action_questionare_user"
        sequence="4"
    />

    <menuitem
        id="crm_questionare_master_download"
        name="Questionare Download"
        parent="crm_root"
        action="action_download_questionare"
        sequence="5"
    />
    <menuitem
        id="crm_log_master"
        name="Log Downloaded User"
        parent="crm_root"
        action="action_log_register"
        sequence="6"
    />

</odoo>