<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <menuitem
        id="crm_root"
        name="CRM Haus"
        web_icon="dev_crm_haus,static/description/icon.png"
        sequence="0"
    />

    <menuitem
        id="crm_issues_master"
        name="Issues"
        parent="crm_root"
        action="action_your_request_list"
        sequence="1"
    />

    <menuitem
        id="crm_issues_requested_list"
        name="Requested Issue"
        parent="crm_issues_master"
        action="action_requested_list"
        sequence="1"
    />

    <menuitem
        id="crm_issues_your_request_list"
        name="Your Requested Issue"
        parent="crm_issues_master"
        action="action_your_request_list"
        sequence="2"
    />

    <menuitem
        id="crm_category_master"
        name="Category"
        parent="crm_root"
        action="action_category_register"
        sequence="2"
    />

    <menuitem
        id="crm_questionare_master"
        name="Questionare Admin"
        parent="crm_root"
        groups="dev_crm_haus.group_crm_questioner_admin"
        action="action_questionare_admin"
        sequence="3"
    />

    <menuitem
        id="crm_questionare_master_user"
        name="Questionare"
        parent="crm_root"
        action="action_list_user_questioner"
        sequence="4"
    />

</odoo>