<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <menuitem
        id="crm_root"
        name="CRM Haus"
        web_icon="dev_crm_haus,static/description/icon.png"
        sequence="0"
    />

    <menuitem
        id="crm_issues_master"
        name="Issues"
        parent="crm_root"
        action="action_issue_register"
        sequence="1"
    />

    <menuitem
        id="crm_category_master"
        name="Category"
        parent="crm_root"
        action="action_category_register"
        sequence="2"
    />

</odoo>